<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584972210191-8eak9ir71gn5q77k5elphqjojj65qrfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584972210191-8eak9ir71gn5q77k5elphqjojj65qrfl</string>
	<key>API_KEY</key>
	<string>AIzaSyB86ePke1u9UtKekm3fv4YV_9GGPmVYKXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>584972210191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.durazo.Macros</string>
	<key>PROJECT_ID</key>
	<string>macros-f124a</string>
	<key>STORAGE_BUCKET</key>
	<string>macros-f124a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:584972210191:ios:6667b8cc04e47a0ea5537a</string>
</dict>
</plist>
